.main_div{
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #5e759d40 ;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  border: 2px solid rgb(2, 68, 250);
}
.center_div{
  width: 25%;
  height: 60vh;
  background-color: #ff6347a3;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
h1{
  color: rgb(17, 44, 126);
  font-size: 40px;
  background-color: thistle;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.btn1, .btn2{
  min-height: 40px;
  border-radius: 15px;
  border-color: yellowgreen;
  background-color: rgb(22, 235, 189);
  color: rgb(88, 73, 53);
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px --5px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
}
.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn1:hover{
  background-color: rgb(17, 44, 126);
  color: rgb(243, 242, 242);
  border: rgb(157, 149, 192)
}
.btn2:hover{
  background-color: rgb(17, 44, 126);
  color: rgb(243, 242, 242);
  border: rgb(157, 149, 192)

}